/* Select.module.css */

.select-container {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}

.select-container select {
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: #000;
  background-color: #faf9f9;
  background-image: none;
  cursor: pointer;
}

.select-container select::-ms-expand {
  display: none;
}

.select-container::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #e1e6eb;
  transition: .25s all ease;
  pointer-events: none;
}

.select-container:hover::after {
  color: #746a59;
}
